@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #04C9D2;
    --secondary-color: #065b5f;
    --dark1-color: #1D1D1D;
    --dark2-color: #292929;
    --gray-text: #A8A8A8;
    --poppins-font: 'Poppins', sans-serif;
    --Lobster-font: 'Lobster Two', cursive;
}


/* body {
    padding: 0 5rem;
} */

.btns {
    position: relative;
    text-decoration: none;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    padding: 0 2rem;
    font-family: var(--poppins-font);
    font-size: 1.23rem;
    border: 0;
    border-radius: 10rem;
    background: var(--dark2-color);
    color: white;
    cursor: pointer;
    outline: none;
    transition-property: backround, box-shadow;
    transition-duration: 0.35s;
}


/*------------------------------------- Navbar Styling Start -------------------------------------*/

header {
    padding: 0 7rem;
    /* background: lightblue; */
}


/* .haader_part{
    padding: 40px;
} */

.kweeke_logo {
    width: 70%;
    margin-left: 2rem;
}

.menu li a {
    margin: 0 2rem;
    color: var(--gray-text);
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--poppins-font);
}

.nav_bar_header {}


/*------------------------------------- Navbar Styling End -------------------------------------*/


/*------------------------------------- Header styling Start -------------------------------------*/

.header_container {
    /* padding: 0 3rem; */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_img img {
    width: 80%;
}

.header_img {
    text-align: center;
}

.social {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
}

.social img {
    height: 18px;
}

.header_text {
    background-image: url("../images/header_circle.png");
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: top left;
    padding-top: 2rem;
}

.header_text h1 {
    font-family: var(--Lobster-font);
    font-size: 4rem!important;
    margin: 2rem;
}

.header_text p {
    color: var(--gray-text);
    font-size: 1.5rem;
    padding: 1rem 0;
    margin-left: 2rem;
}

.header_text .btns {
    margin-left: 2rem;
}

p {
    color: var(--gray-text);
    font-size: 1.5rem;
    padding: 1rem 0;
}

h1 span {
    color: var(--primary-color);
}

.ml-auto {
    margin-left: 0;
}


/*------------------------------------- Header styling End-------------------------------------*/


/*------------------------------------- Service Styling Start -------------------------------------*/

.service_heading {
    font-size: 2.5rem;
    font-family: var(--poppins-font);
    font-weight: 400;
    letter-spacing: 3.5px;
    margin: 30px;
}

.services {
    /* padding: 0 3rem; */
    font-family: var(--poppins-font);
    position: relative;
    display: flex;
    margin-top: 50px;
    /* background: rebeccapurple; */
}

.services_type {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-between;
}

.services::before {
    /* inset: 0; */
    top: 280px;
    position: absolute;
    z-index: -9;
    content: '';
    width: 50%;
    height: 70%;
    border-radius: 0 25rem 0 0;
    background-color: var(--primary-color);
}

.Fast_deliver,
.pickup,
.dinein {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Fast_deliver img,
.pickup img,
.dinein img {
    width: 40%;
}

.mockup_img {
    display: flex;
    justify-content: center;
}

.mockup_img img {
    width: 85%;
    position: relative;
}


/*------------------------------------- Service Styling End -------------------------------------*/


/*------------------------------------- Merchants Styling Start -------------------------------------*/

.merchants {
    padding: 0 3rem;
    margin: 10rem 0!important;
    /* background: yellowgreen; */
}

.merchants_heading {
    font-size: 2.5rem;
    font-family: var(--poppins-font);
    font-weight: 400;
    letter-spacing: 3.5px;
    margin: 30px;
}

.why_kweeke_heading {
    font-size: 2.5rem;
    font-family: var(--poppins-font);
    font-weight: 400;
    letter-spacing: 3.5px;
    margin: 30px;
}

.merchants_logo {
    display: flex;
    justify-content: space-around;
}


/*------------------------------------- Merchants Styling End -------------------------------------*/


/*------------------------------------- About_us Styling Start -------------------------------------*/

.about_us {
    /* padding: 0 3rem; */
    /* background: burlywood; */
}

.About_us_heading {
    font-size: 2.5rem;
    font-family: var(--poppins-font);
    font-weight: 400;
    letter-spacing: 3.5px;
    margin: 30px;
}

.aboutus_img {
    background-image: url("../images/about_us.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}


/*------------------------------------- About_us Styling End -------------------------------------*/


/*------------------------------------- Feed back Styling Start -------------------------------------*/

.feeback {
    padding: 0 3rem;
    /* background: chartreuse; */
}

.feedback_heading {
    font-size: 2.5rem;
    font-family: var(--poppins-font);
    font-weight: 400;
    letter-spacing: 5px;
    margin: 30px;
}


/*------------------------------------- Feed back Styling End -------------------------------------*/


/*------------------------------------- Download_out_app Styling Start -------------------------------------*/

.download_app {
    /* padding: 0 3rem; */
    /* background: chocolate; */
    margin-top: 60px !important;
}

.download_app_img img {
    width: 90%;
}

.bob_inner {
    position: relative;
}

.blob_img {
    position: absolute;
    right: 0px;
    top: -250px;
    width: 43%;
}

.download_app_now {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.download_app_now h3 {
    font-size: 72px;
    font-family: var(--poppins-font);
}

.download_app_now_img img {
    width: 32%;
    margin: 40px 30px 0px 0px;
}


/*------------------------------------- Download_out_app Styling End -------------------------------------*/


/*------------------------------------- Contact_us Styling Start -------------------------------------*/

.contact_us {
    background-image: url("../images/contact_bg.png");
    background-repeat: no-repeat;
    color: white;
    background-size: cover;
    height: 100vh;
}

.contact_heading {
    font-size: 2.5rem;
    font-family: var(--poppins-font);
    font-weight: 400;
    letter-spacing: 3.5px;
    padding: 50px 0px;
}

.form_section {
    height: 500px;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(15px);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form_field {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px 0px;
}

.form_field input {
    background-color: transparent;
    border-bottom: 1.5px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    padding-left: 0px;
    color: white;
    font-size: 18px;
    outline: none !important;
    font-family: var(--poppins-font);
}

.form_field input:focus {
    background-color: transparent;
    outline: none !important;
}

 ::placeholder {
    color: rgb(255, 255, 255) !important;
    font-family: var(--poppins-font);
    font-weight: 300;
}

.form_field button {
    width: 180px;
    color: white;
    background-color: black;
    font-size: 1rem;
    border-radius: 50px;
    font-family: var(--poppins-font);
    padding: 18px;
}

.form_section_1 {
    height: 500px;
    width: 450px;
    text-align: initial;
}

.form_section_1 h2 {
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-family: var(--poppins-font);
}

.form_field button:hover {
    width: 200px;
    color: white;
    background-color: black;
    font-family: var(--poppins-font);
}

.info_section {
    margin-top: 70px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_section h5 {
    font-family: var(--poppins-font);
    font-weight: 300;
    font-size: 1.5rem;
    margin-left: 35px;
}


/*------------------------------------- Contact_us Styling End -------------------------------------*/


/*------------------------------------- Footer Styling Start -------------------------------------*/

footer {
    background-color: var(--dark1-color);
    color: #fff;
    padding: 5rem;
}

.footer_text p {
    font-size: 14px;
    font-family: var(--poppins-font);
}

.footer_text {
    margin-top: 50px !important;
    font-family: var(--poppins-font);
}

.Copyright_text {
    display: flex;
    justify-content: start;
    align-items: center;
}

.Copyright_text span {
    font-size: 12px;
    font-family: var(--poppins-font);
}

.social_icon {
    display: flex;
    justify-content: flex-end;
}

.feedback_heading {
    font-size: 1.8rem;
    font-family: var(--poppins-font);
    font-weight: 400;
    letter-spacing: 3.5px;
    margin: 20px;
}

.download_app_now h3 {
    font-size: 24px;
    font-family: var(--poppins-font);
    text-align: center;
    margin-top: 50px;
}

.download_app_now_img img {
    width: 36%;
    margin: 40px 20px 0px 0px;
}

.contact_heading {
    font-size: 1.8rem;
    font-family: var(--poppins-font);
    font-weight: 400;
    letter-spacing: 3.5px;
    padding: 50px 0px;
}

.form_field input {
    background-color: transparent;
    border-bottom: 1.5px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0px;
    padding-left: 0px;
    color: white;
    font-size: 14px;
    outline: none !important;
    font-family: var(--poppins-font);
}

.form_field button {
    width: 143px;
    color: white;
    background-color: black;
    font-size: 1rem;
    border-radius: 50px;
    font-family: var(--poppins-font);
    padding: 14px;
}

.white_logo img {
    width: 15%;
}

.info_sect_icon img {
    width: 90%;
}

header {
    padding: 0 0rem;
    /* background: lightblue; */
}

.kweeke_logo {
    width: 50%;
    margin-left: 0rem;
}

.info_section h5 {
    font-family: var(--poppins-font);
    font-weight: 300;
    font-size: 1.5rem;
    margin-left: 35px;
}

.testimonial_height {
    height: 300px;
}

.first_testimonial {
    background-image: url("../images/1.jpg");
    background-size: cover;
    height: 300px;
    background-position: center;
}

.sec_testimonial {
    background-image: url("../images/2.jpg");
    background-size: cover;
    height: 300px;
}

.third_testimonial {
    background-image: url("../images/3.jpg");
    background-size: cover;
    height: 300px;
}

.testimonial_left {
    background-color: #ececec;
    letter-spacing: 1px;
    font-family: var(--poppins-font);
    color: var(--gray-text);
}

.testimonial_left p {
    font-size: 16px;
    font-family: var(--poppins-font);
}

.testimonial_left img {
    width: 8%;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.Support_header_bg {
    background-image: url(../images/Support.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.marketing_header_bg {
    background-image: url(../images/Marketing.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.service_text h3 {
    font-size: 1.4rem;
}

.service_text p {
    font-size: 1.1rem;
}

.merchants_logo>span>img {
    opacity: 0.5;
    filter: grayscale(1);
}

.why_kweeke p {
    font-size: 1.1rem;
}


/*------------------------------------- Footer Styling End -------------------------------------*/


/*------------------------------------- Media query 1500px  -------------------------------------*/

@media only screen and (max-width: 1500px) {
    .aboutus_img {
        background-image: url(../images/about_us.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .download_app_now h3 {
        font-size: 60px;
        font-family: var(--poppins-font);
    }
}


/*------------------------------------- Media query 1400px  -------------------------------------*/

@media only screen and (max-width: 1400px) {
    .menu li a {
        margin: 0 1.5rem;
        color: var(--gray-text);
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--poppins-font);
    }
    .header_text h1 {
        font-family: var(--Lobster-font);
        font-size: 3.5rem!important;
        margin: 2rem;
    }
    .header_text p {
        color: var(--gray-text);
        font-size: 1.3rem;
        padding: 1rem 0;
        margin-left: 2rem;
    }
    .btns {
        position: relative;
        text-decoration: none;
        overflow: hidden;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        padding: 0 1.5rem;
        font-family: var(--poppins-font);
        font-size: 1rem;
        border: 0;
        border-radius: 10rem;
        background: var(--dark2-color);
        color: white;
        cursor: pointer;
        outline: none;
        transition-property: backround, box-shadow;
        transition-duration: 0.35s;
    }
    header {
        padding: 0 5rem;
        /* background: lightblue; */
    }
}


/*------------------------------------- Media query 1300px  -------------------------------------*/

@media only screen and (max-width: 1300px) {
    .menu li a {
        margin: 0 1.5rem;
        color: var(--gray-text);
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--poppins-font);
    }
    .header_text h1 {
        font-family: var(--Lobster-font);
        font-size: 3.5rem!important;
        margin: 2rem;
    }
    .header_text p {
        color: var(--gray-text);
        font-size: 1.3rem;
        padding: 1rem 0;
        margin-left: 2rem;
    }
    .btns {
        position: relative;
        text-decoration: none;
        overflow: hidden;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        padding: 0 1.5rem;
        font-family: var(--poppins-font);
        font-size: 1rem;
        border: 0;
        border-radius: 10rem;
        background: var(--dark2-color);
        color: white;
        cursor: pointer;
        outline: none;
        transition-property: backround, box-shadow;
        transition-duration: 0.35s;
    }
    header {
        padding: 0 4rem;
        /* background: lightblue; */
    }
    .header_text h1 {
        font-family: var(--Lobster-font);
        font-size: 3.2rem!important;
        margin: 2rem;
    }
    .header_text p {
        color: var(--gray-text);
        font-size: 1.2rem;
        padding: 1rem 0;
        margin-left: 2rem;
    }
    .menu li a {
        margin: 0 1.2rem;
        color: var(--gray-text);
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--poppins-font);
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .3rem;
        padding-left: .3rem;
    }
    .mockup_img img {
        width: 70%;
        position: relative;
    }
    .aboutus_img {
        background-image: url(../images/about_us.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
    }
}


/*------------------------------------- Media query 1080px  -------------------------------------*/

@media only screen and (max-width: 1080px) {
    .menu li a {
        margin: 0 1rem;
        color: var(--gray-text);
        font-size: 0.8rem;
        font-weight: 400;
        font-family: var(--poppins-font);
    }
    .kweeke_logo {
        width: 55%;
        margin-left: 0rem;
    }
    .header_text h1 {
        font-family: var(--Lobster-font);
        font-size: 2.6rem!important;
        margin: 2rem;
    }
    .header_text p {
        color: var(--gray-text);
        font-size: 1rem;
        padding: 1rem 0;
        margin-left: 2rem;
    }
    .btns {
        position: relative;
        text-decoration: none;
        overflow: hidden;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.2rem;
        padding: 0 1.2rem;
        font-family: var(--poppins-font);
        font-size: 0.8rem;
        border: 0;
        border-radius: 10rem;
        background: var(--dark2-color);
        color: white;
        cursor: pointer;
        outline: none;
        transition-property: backround, box-shadow;
        transition-duration: 0.35s;
    }
    .service_text h3 {
        font-size: 1.5rem;
    }
    .services::before {
        /* inset: 0; */
        top: 200px;
        position: absolute;
        z-index: -9;
        content: '';
        width: 50%;
        height: 70%;
        border-radius: 0 25rem 0 0;
        background-color: var(--primary-color);
    }
    .mockup_img img {
        width: 90%;
        position: relative;
        height: 90%;
    }
    .merchants_logo>span>img {
        width: 70%;
    }
    .aboutus_img {
        background-image: url(../images/about_us.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 80vh;
    }
    .download_app_now h3 {
        font-size: 55px;
        font-family: var(--poppins-font);
    }
}


/*------------------------------------- Media query 1020px  -------------------------------------*/

@media only screen and (max-width: 1024px) {
    .social {
        height: 30vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        align-content: flex-end;
    }
    .header_container {
        /* padding: 0 3rem; */
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header_text {
        background-image: url(../images/header_circle.png);
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: top left;
        padding-top: 0rem;
    }
    .form_section {
        height: 500px;
        width: 351px;
        background-color: rgba(255, 255, 255, 0.26);
        backdrop-filter: blur(15px);
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .aboutus_img {
        background-image: url(../images/about_us.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 45vh;
    }
    .contact_us {
        background-image: url(../images/contact_bg.png);
        background-repeat: no-repeat;
        color: white;
        background-size: cover;
        height: 60vh;
    }
    footer {
        background-color: var(--dark1-color);
        color: #fff;
        padding: 1rem;
    }
}


/*------------------------------------- Media query 992px  -------------------------------------*/

@media only screen and (max-width: 992px) {
    .header_text h1 {
        font-family: var(--Lobster-font);
        font-size: 3rem!important;
        margin: 0.2rem;
    }
    .header_text p {
        color: var(--gray-text);
        font-size: 1.2rem;
        padding: 1rem 0;
        margin: 0.2rem;
    }
    .header_text .btns {
        margin-left: 0.2rem;
    }
    .contact_us {
        background-image: url(../images/contact_bg.png);
        background-repeat: no-repeat;
        color: white;
        background-size: cover;
        height: 80vh;
    }
}


/*------------------------------------- Media query 600px  -------------------------------------*/

@media only screen and (max-width: 600px) {
    header {
        padding: 0 2rem;
    }
    .header_container {
        /* padding: 0 3rem; */
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header_text .btns {
        margin-left: 1rem;
        width: fit-content;
    }
    .header_text p {
        text-align: center;
    }
    .header_text h1 {
        text-align: center;
        margin-top: 50px;
    }
    .social {
        display: flex;
        flex-direction: initial;
        height: 20vh;
    }
    .social_icon {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between!important;
    }
    .header_img img {
        width: 65%;
        margin-top: 30px;
    }
    .menu li a {
        margin: 0 1rem;
        color: var(--gray-text);
        font-size: 1rem;
        font-weight: 400;
        font-family: var(--poppins-font);
    }
    .services {
        /* padding: 0 3rem; */
        font-family: var(--poppins-font);
        position: relative;
        display: flex;
        margin-top: 50px;
        /* background: rebeccapurple; */
        flex-direction: column;
    }
    .mockup_img img {
        width: 75%;
        position: relative;
        height: 90%;
    }
    .services::before {
        /* inset: 0; */
        top: 100px;
        position: absolute;
        z-index: -9;
        content: '';
        width: 100%;
        height: 25%;
        border-radius: 0;
        background-color: var(--primary-color);
    }
    .services_type {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
        padding-top: 80px;
    }
    .merchants_logo {
        display: flex;
        flex-wrap: wrap;
    }
    .merchants_logo>span>img {
        margin-top: 30px;
    }
    .merchants {
        padding: 0 3rem;
        margin: 4rem 0!important;
        /* background: yellowgreen; */
    }
    .download_app_img img {
        width: 100%;
    }
    .download_app_now h3 {
        font-size: 38px !important;
        z-index: 9;
    }
    .download_app_now_img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .blob_img {
        position: absolute;
        right: 0px;
        top: -39px;
        width: 35%;
    }
    .contact_us {
        background-image: url(../images/contact_bg.png);
        background-repeat: no-repeat;
        color: white;
        background-size: cover;
        height: auto;
    }
    .aboutus_img {
        background-image: url("../images/about_us.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 62vh;
        width: 100%;
    }
    .form_section {
        height: 417px;
        width: 300px;
        padding: 33px;
        border-radius: 30px;
    }
    .form_field input {
        background-color: transparent;
        border-bottom: 1.5px solid white;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0px;
        padding-left: 0px;
        color: white;
        font-size: 18px;
        outline: none !important;
        font-family: var(--poppins-font);
    }
    .form_field .btn {
        text-align: center;
    }
    .form_section_1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer {
        background-color: var(--dark1-color);
        color: #fff;
        padding: 3rem;
    }
    .Fast_deliver,
    .pickup,
    .dinein {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .info_section {
        text-align: center;
    }
    /* .contact_us .mt-5.mb-5 {
        margin: 0!important;
    } */
    footer .container .row:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .white_logo img {
        width: 70%;
    }
    .Copyright_text {
        justify-content: center!important;
    }
}


/*------------------------------------- Media query 500px  -------------------------------------*/

@media only screen and (max-width: 500px) {
    header {
        padding: 0 2rem;
    }
    .header_text h1 {
        font-family: var(--Lobster-font);
        font-size: 2.3rem!important;
        margin: 0.2rem;
    }
    .header_text p {
        color: var(--gray-text);
        font-size: 1rem;
        padding: 1rem 0;
        margin: 0.2rem;
    }
    .service_heading {
        font-size: 1.8rem;
        font-family: var(--poppins-font);
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 30px;
    }
    .services::before {
        /* inset: 0; */
        top: 100px;
        position: absolute;
        z-index: -9;
        content: '';
        width: 100%;
        height: 25%;
        border-radius: 0;
        background-color: var(--primary-color);
    }
    .service_text h3 {
        font-size: 1.2rem;
    }
    p {
        color: var(--gray-text);
        font-size: 1rem;
        padding: 1rem 0;
    }
    .Fast_deliver img,
    .pickup img,
    .dinein img {
        width: 45%;
    }
    .merchants_heading {
        font-size: 1.8rem;
        font-family: var(--poppins-font);
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 20px;
    }
    .why_kweeke_heading {
        font-size: 1.8rem;
        font-family: var(--poppins-font);
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 20px;
    }
    .merchants {
        padding: 0 1.5rem;
        margin: 1rem 0!important;
        /* background: yellowgreen; */
    }
    .merchants_logo>span>img {
        margin-top: 20px;
    }
    .merchants_logo>span>img {
        width: 55%;
    }
    .About_us_heading {
        font-size: 1.8rem;
        font-family: var(--poppins-font);
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 20px;
    }
}


/*------------------------------------- Media query 320px  -------------------------------------*/

@media only screen and (max-width: 320px) {
    header {
        padding: 0 2rem;
    }
    .header_text h1 {
        font-family: var(--Lobster-font);
        font-size: 2.3rem!important;
        margin: 0.2rem;
    }
    .header_text p {
        color: var(--gray-text);
        font-size: 1rem;
        padding: 1rem 0;
        margin: 0.2rem;
    }
    .service_heading {
        font-size: 1.8rem;
        font-family: var(--poppins-font);
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 30px;
    }
    .services::before {
        /* inset: 0; */
        top: 14px;
        position: absolute;
        z-index: -9;
        content: '';
        width: 92%;
        height: 32%;
        border-radius: 0 25rem 0 0;
        background-color: var(--primary-color);
    }
    .service_text h3 {
        font-size: 1.2rem;
    }
    p {
        color: var(--gray-text);
        font-size: 1rem;
        padding: 1rem 0;
    }
    .Fast_deliver img,
    .pickup img,
    .dinein img {
        width: 45%;
    }
    .merchants_heading {
        font-size: 1.8rem;
        font-family: var(--poppins-font);
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 20px;
    }
    .why_kweeke_heading {
        font-size: 1.8rem;
        font-family: var(--poppins-font);
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 20px;
    }
    .merchants {
        padding: 0 1.5rem;
        margin: 1rem 0!important;
        /* background: yellowgreen; */
    }
    .merchants_logo>span>img {
        margin-top: 20px;
    }
    .merchants_logo>span>img {
        width: 55%;
    }
    .About_us_heading {
        font-size: 1.8rem;
        font-family: var(--poppins-font);
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 20px;
    }
    .aboutus_img {
        background-image: url(../images/about_us.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 35vh;
    }
    .feedback_heading {
        font-size: 1.8rem;
        font-family: var(--poppins-font);
        font-weight: 400;
        letter-spacing: 3.5px;
        margin: 20px;
    }
    .download_app_now h3 {
        font-size: 24px;
        font-family: var(--poppins-font);
        text-align: center;
        margin-top: 50px;
    }
    .download_app_now_img img {
        width: 36%;
        margin: 40px 20px 0px 0px;
    }
    .contact_heading {
        font-size: 1.8rem;
        font-family: var(--poppins-font);
        font-weight: 400;
        letter-spacing: 3.5px;
        padding: 50px 0px;
    }
    .form_field input {
        background-color: transparent;
        border-bottom: 1.5px solid white;
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0px;
        padding-left: 0px;
        color: white;
        font-size: 14px;
        outline: none !important;
        font-family: var(--poppins-font);
    }
    .form_field button {
        width: 143px;
        color: white;
        background-color: black;
        font-size: 1rem;
        border-radius: 50px;
        font-family: var(--poppins-font);
        padding: 14px;
    }
    .white_logo img {
        width: 70%;
    }
    footer {
        background-color: var(--dark1-color);
        color: #fff;
        padding: 1.8rem;
    }
    .social_icon {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .Copyright_text {
        display: flex;
        justify-content: center;
    }
    .info_section h5 {
        font-family: var(--poppins-font);
        font-weight: 300;
        font-size: 1rem;
        margin-left: 35px;
    }
    .info_sect_icon img {
        width: 90%;
    }
    header {
        padding: 0 0rem;
        /* background: lightblue; */
    }
    .kweeke_logo {
        width: 50%;
        margin-left: 0rem;
    }
}